@import 'colors';
@import 'menu';


$box-font-size: 20px;

%btn-ozel{
    border: none;
    padding: 10px-2;
    margin: 10px/2;
    border-radius: 3px;
    outline: none;
    background-color: blueviolet;
    color: white;
    &:hover{
        background-color: bisque;
        color:red;
    }
}

@mixin border-radius($radius){
    border-radius: $radius;
    //firefox, opero
}


body{
    background-color: $bg-color;
}

.kutumuz{
    font-size: $box-font-size;
    color: white;
    background-color: brown;
    @include border-radius(20px);
    margin: 10px*2;
    padding: 10px+10;
    font-size: calc(2rem + 1px)
    
}

.btn-1{
    @extend %btn-ozel;
}

.btn-2{
    @extend %btn-ozel;
    box-shadow: 0 0 10px blue;
    color: burlywood;
    @include border-radius(10px);
}

@for $i from 1 through 5{
    .btn-#{$i}{
        margin-top: 10px;
        padding-bottom: 20px;
    }
    @if ($i == 3){
        .btn-#{$i}{
            border-radius: 5px;
            outline: none;
            border: none;
        }
    } @else if ($i == 4){
        .btn-#{$i}{
            border: 4px solid blue;
        } 
    } @else{
        .btn-#{$i}{
            font-size: 25px;
        } 
    }
}

$sayac: 1;

@while($sayac <= 3){
    .btn-#{$sayac}{
        border: dotted 2px red;
        outline: dotted 2px red;
    } 
    $sayac: $sayac + 1;
}

$degerler: 1,3,4;


@each $value in $degerler{
    .btn-#{$value}{
        margin-left: 30px;
    } 
}

$durumlar: ("1": " bir ", "2": " iki ", "4": " dort ");

@each $key, $value in $durumlar{
    .btn-#{$key}::before{
       content: $value;
    } 
}
